* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html,
body,
.wrapper {
  height: 100%;
}
.background {
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    min-height: 100%;
    padding-bottom: 90px;
    background-image: url(image_862104170044554418999.gif);
}
.footer {
    height: 80px;
    margin-top: -80px;
  }
.container {
    background-color: inherit !important;
    margin: 0;
    position: absolute;               
    top: 50%;                         
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color:transparent;
}
.btn { 
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: lightblue;
    border-color: transparent;
    border: none;
    font-family: "HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 30px;
    font-weight: 900;
}
.button-reply:hover{
    text-decoration: line-through;
}
.designer{
    margin-bottom: 10px;
    display: block; 
    font-family: "HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 11px;
    font-weight: 900;
    line-height: 1.2;
    text-transform: uppercase;
    color: lightblue;
}
button, 
button:active, 
button:focus {
    outline: none;
}
img {
    max-width: 300px;
    margin-bottom: 10px;
}
.production {
    display: block; 
    font-family: "HelveticaNeue","Helvetica Neue",sans-serif;
    font-size: 11px;
    font-weight: 900;
    line-height: 1.2;
    margin: 0;
    color: lightblue;
    position: fixed;               
    bottom: 0;                    
    left: 4%;
    transform: translate(-50%, -50%);
    text-align: center;
}
